@model IEnumerable<MVC_MasterD.Models.Client>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <h2 class="display-4">Client List</h2>
        <div class="d-flex justify-content-end">
            <a href="@Url.Action("Create","Clients")" class="btn btn-primary btn-sm mb-2"><i class="fa fa-plus-circle"></i> Add New Client</a>
        </div>
        <div>
            @foreach (var client in Model)
            {
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            <img src="@client.Picture" width="32" />
                            <label class="me-2"><b>Client : </b>@Html.DisplayFor(x => client.ClientName)</label>
                            <label class="me-2"><b>Age : </b>@Html.DisplayFor(x => client.Age)</label>
                            <label class="me-2"><b>Birth Date : </b>@Html.DisplayFor(x => client.BirthDate)</label>
                            <label class="me-2"><b>Marital Status : </b>@Html.DisplayFor(x => client.MaritalStatus)</label>
                        </div>
                        <div>
                            <a href="@Url.Action("Edit", "Clients", new {id=client.ClientId})" id="btnEntryEdit" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></a>
                            <a href="@Url.Action("Delete", "Clients", new {id=client.ClientId})" id="btnEntryDelete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm table-hover">
                            <thead>
                                <tr>
                                    <th>Spot Id</th>
                                    <th>Spot Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in client.BookingEntries)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(x => c.Spot.SpotId)</td>
                                        <td>@Html.DisplayFor(x => c.Spot.SpotName)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

